

.container 
{display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-left: 10px;
margin-right: 10px;
padding: 20px;
padding
justify-content: space-evenly;
}


.movie1
{background-color: dimgrey;}

.movie2
{background-color: dimgrey;}

.movie3
{background-color: dimgrey;}

.movie4
{background-color: dimgrey;}

.movie5
{background-color: dimgrey;}

.movie6
{background-color: dimgrey;}

.movie7
{background-color: dimgrey;}

.movie8
{background-color: dimgrey;}

.movie9
{background-color: dimgrey;}

.movie10
{background-color: dimgrey;}